* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
   /*academia  */
.grilla {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.6fr;
    grid-template-areas:
        "navAcademia mainAcademia mainAcademia asideAcademia"
        "navAcademia mainAcademia mainAcademia asideAcademia"
        "navAcademia mainAcademia mainAcademia asideAcademia"
        "navAcademia footerAcademia footerAcademia footerAcademia";
}

/* nav */
.navAcademia {
    grid-area: navAcademia;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navAcademia ul {
    margin-top: 30px;
    width: 100%;
}

.navAcademia li {
    list-style: none;
    padding: 30px;
    height: 0px;
    text-align: center;
}

nav a {
    color: white;
}

.navAcademia li:hover {
    background-color: rgb(18, 47, 48)
}

/* aside  */

.asideAcademia {
    grid-area: asideAcademia;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url(../imagenes/turismo.jpg);
}

.asideAcademia h3 {
    margin: 84px 0px 23px 0px;

}

.asideAcademia p {
    margin: -14px 0px 0px 0px;

}

/* main  */

.mainAcademia {
    grid-area: mainAcademia;
    text-align: center;
}

.mainAcademia p {
    margin: 0px 88px 0px 88px;
}

.mainAcademia img {
    width: 100%;
    margin: 36px 0px 0px 0px;
}

.buttonAcademia {
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid black;
    margin: 80px 0px 44px 0px;
}

.buttonAcademia:hover {
    color: rgba(206, 175, 175, 0.822);
    cursor: pointer;
}

/* footer */

.footerAcademia {
    grid-area: footerAcademia;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-evenly;
    margin: 75px 0px 0px 0px;
}

.grupo2Academia {
    margin: 59px 0px 0px 0px;
}


.logoTitulo {
    max-width: 200px;
}

.icono-face {
    height: 25px;
    width: 25px;
}

.icono-insta {
    height: 25px;
    width: 45px;
}

@media(max-width:768px) {
    .grilla {
        display: grid;
        grid-template-columns: 0.6fr 1fr 1fr 0fr;
        grid-template-areas:
            "navAcademia navAcademia navAcademia navAcademia"
            "mainAcademia mainAcademia mainAcademia asideAcademia"
            "mainAcademia mainAcademia mainAcademia asideAcademia"
            "footerAcademia footerAcademia footerAcademia footerAcademia";}
    }

    .asideAcademia {
        display: none;
    }

    .navAcademia {
        flex-direction: row;
    }

    .navAcademia ul {
        display: flex;
        flex-direction: row;
        width: 0%;
    }

    .navAcademia li {
        padding: 7px;
    }




       /*index*/
 .mainIndex h1{
    max-width: 3000px;
    color: black;
    font-size: 66px;
    font-family: 'Macondo', cursive;
    text-align: center;
}

.imgIndex2 {
    
    width: 100%;
    height: 100%;
}

.h3Index2 {
    color: black;
    font-size: 30px;
    text-align: center;
}

.h3Index2 {
    text-align: center;
    font-size: 20px;
}

.letra-asg {
    border: solid 1px black;
}






/* footer */
.footerIndex {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-around

}


@media(max-width:480px) {

    .footerIndex{ width: 100%;
    max-width: 100%;
background-color: white;
color: black;
    }

    }



/* header en general */
.header {
    width: 100%;
    background-color: black;
    display: inline-block;
    margin: 0px 210px 10px 0px;
    clear: both;
    content: '';
    display: table;

}
.ul {
    display: flex;
    list-style: none;
    color: black;
    margin-right: 80px;
}


.nav {
    float: right;
}



.ul li {
    border-radius: 3px;
    margin: 100px 5px;
}

.ul li a {
    padding: 7px 13px;
    color: white;

}


/*   HISTORIA */
.tituloHistoria{
    text-align: center;
    font-size: 40px;
    background-color: white;
}

.h1-historia {
    color: black;
    background-color: white;
    margin: -22px 273px 0px 300px;

}

.section-historia1 {
    margin-bottom: 50px;
}

.h2-historia {
    color: black;
    background-color: white;
}

.section-historia2 {
    margin-bottom: 50px
}

.sectionHistoria3 {}

.h3-historia {
    color: black;
    background-color: white;
    display: inline-block;
    max-width: 500px;
    margin: 0px 0px 0px 54px;
}

.imagen-historia img {
    max-width: 300px;
    display: inline-block;
    margin: -183px 4px 0px 775px;
}

.h3-historia1 {
    color: black;
    background-color: white;
    max-width: 623px;
    margin: 11px 76px 0px 671px;

}

.imagen-helio {
    margin: -309px 0px 13px 133px;
}

.mainHistoria {
    background-image: url(../imagenes/ASG-LOGO1350.jpg   );
    height: 1351px;
}




/* contacto */
.grillaIndexContacto {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
 
    grid-auto-flow: row;
    grid-template-areas:
      "navIndex navIndex navIndex navIndex"
      "main main main main"
      "main main main main"
      "main main main main"
      "footerIndex footerIndex footerIndex footerIndex";
  }
  
  .navIndex { grid-area: navIndex; }
  
  
  
  .main { grid-area: main; }

.tituloContacto{
    text-align: center;
}
  

@media(max-width:480px) {
.main{
    background-color: black;
}
.tituloContacto{
    color: white;
}
.direc{
    color: white;
}


}