/* main  */

.mainAcademia {
    grid-area: mainAcademia;
    text-align: center;

    p {
        margin: 0px 88px 0px 88px;
    }

    img {
        width: 100%;
        margin: 36px 0px 0px 0px;
    }

    h1 {
        @extend %estilotitulo
    }
}


.buttonAcademia {
    width: 300px;
    height: 100px;
    border: none;
    border-radius: 4px;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    border: 3px solid black;

    &:hover {
        color: rgba(206, 175, 175, 0.822);
        cursor: pointer;
    }
}

/*index*/
.mainIndex h1 {
    max-width: 3000px;
    font-size: 66px;
    font-family: 'Macondo', cursive;
    text-align: center;
    @include colorb($B, $R);
    color: black;

}

.imgIndex2 {

    width: 100%;
    height: 100%;
}

.h3Index2 {
    color: black;
    font-size: 20px;
    text-align: center;
}

.letra-asg {
    border: solid 1px black;
}

/*historia*/
.tituloHistoria {
    @extend %estilotitulo ; 
    background-color: white;
     }

.h1-historia {
    color: black;
    background-color: white;
    margin: -22px 273px 0px 300px;

}

.section-historia1 {
    margin-bottom: 50px;
}

.h2-historia {
    color: black;
    background-color: white;
    margin:0px 45px 0px 34px;
}

.section-historia2 {
    display: flex;
    justify-content: space-around;
}

.sectionHistoria3 {
    display: flex;
    color: black;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.sectionHistoria {
    width: 546px;
}

.h3-historia {
    @include hola();
    background-color: white;
    margin: 0px 162px 0px 0px;
    
}
.imagen-historia{
    display: flex;
}
.imagen-historia img {
    width: 300px;
    max-width: 288px;
  }

.h3-historia1 {
    @include hola;
    background-color: white;
    max-width: 623px;

}

.imagen-helio {
    width: 350px;


}

.mainHistoria {
    background-image: url(../imagenes/ASG-LOGO1350.jpg);
    background-size: cover;
}

/*contacto*/
.main {
    grid-area: main;
}

.tituloContacto {
    @extend %estilotitulo;
}
.fondoContacto{
background-image: url(../imagenes/fondoContacto.webp);
color: white;
display: flex;
}
.botones {
    display: flex;
    width: 80%;
    margin: 0px -143px 0px 271px;
}
.todoContacto{
    display: flex;
    text-align: center;
    ul{
        list-style: none;
    }
}


//mestres
.mainMestres{
    background-image: url(../imagenes/imagenfondotrama.jpeg);
}
.tituloMestres{
    @extend %estilotitulo;
    text-align: center;
    color: white
    
}

.tituloHorario {
    @extend %estilotitulo;
    text-align: center;
    margin: -418px 4px 0px 775px;


}

/*dias y horarios*/ 
.mainDias{
background-image: url(../imagenes/imagenimagneimagen.webp);
background-size: cover;
}
.tituloDias{
    text-align: center;
    @extend %estilotitulo;
    color:white;
}

@media screen and (max-width:768px) {
    footer {
        background-color: blue;

    }
    .h3-historia {
        color: black;
        margin: 0px 29px 0px 24px;
    }
    .section-historia2{
        display: flex;
    flex-direction: column;
}
.sectionHistoria3{
    display: flex;
    flex-direction: column;
}
.h3-historia1{
    color: black;
    margin: 0px 29px 0px 24px;
}
.imagen-historia{
    display: flex;
    flex-direction: column;
}
.h2-historia{
    margin: 0px 29px 0px 24px;
}
.condekoma{
 margin: auto;
}
/*academia*/
.aside{
    flex-direction: column;
}

.fondoContacto{
    flex-direction: column;
    margin: auto;
}
.todoContacto{
    display: flex;
    flex-direction: column;
    margin: 0px 13px 0px 50px;;
}
/* contacto*/ 
.botones{
    margin: 0px 38px 0px 25px;
}
.itemContacto{
 margin: 0px 77px 0px 0px;
}
    }




    .navbar-toggler {
        color: white;
        background-color: white;
    }







    .galeria1 {
        width: 100%;
        max-width: 85vw;
        height: 60vmin;
        display: flex;
        gap: 1.5px;
        flex-wrap: wrap;
    }

    .separador {
        margin: 10px;
        padding: 10px;
        color: black;
    }

    .navm a:hover {
        transform: scale(1.2);
    }

   

    .aside {
        display: flex;
        justify-content: space-around;
        background-image: url(../imagenes/fondoTurista.jpg);
    }
        .textoAcademia {
        display: flex;

    }

    .tituloHorario {

        background-color: white;
    }

    .dias1 {
        text-align: center;
    }


.imagenFondo {
    background-image: url(../imagenes/imagenFondo.jpeg);
    background-size: 50%;
}

.profes1 {
    width: 100%;
    max-width: 100vw;
    height: 60vmin;
    gap: -1px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
}

.profes1 img {
    height: 100%;
    max-height: 60vmin;
    flex: -1;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
}

.profes1 img:hover {
    transform: scale(1.2);
}